spawn-at-startup "fcitx5" "-d"
spawn-at-startup "noctalia"
spawn-at-startup "clipse" "--listen"
spawn-at-startup "sh" "-c" "pkill -f 'wl-paste.*--watch' || true"
spawn-at-startup "wl-paste" "--primary" "--watch" "wl-copy"
// spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
// spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
// spawn-at-startup "wl-paste" "--watch" "cliphist" "store" "&" "disown"
// spawn-at-startup "clash-verge"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "piri" "daemon"
// spawn-at-startup "splayer"
spawn-at-startup "systemctl --user start hyprpolkitagent.service"
// spawn-at-startup "vicinae" "server"
